

.dk h3{
	font-weight: normal;
	font-size: 3em;
	margin: 0 auto;
	margin-top: 30px;
	width: 500px;
	color: #0a8cbf;
	text-align: center;
	font-family: 'Sniglet', cursive;

}
.thongbao{
	font-weight: normal;
	font-size: 3em;
	margin: 0 auto;
	margin-top: 20px;
	color: #06F;
	text-align: center;
	font-family: 'Sniglet', cursive;
}
.dangnhap > h3{
	font-weight: normal;
	font-size: 3em;
	margin: 0 auto;
	margin-top: 30px;
	width: 400px;
	color: #0a8cbf;
	text-align: center;
	font-family: 'Sniglet', cursive;

}
.dk{
	margin-bottom: -13px;
	margin-top:-8px;
}
/* Animation webkit */


@-webkit-keyframes myfirst
{
	0% {margin-left: -235px,top:115px;}
	15%{margin-left: 15%;top:425px;}
  	32%{margin-left: 25%;top:215px;}
  	49%{margin-left: 45%;top:507px;}
  	69%{margin-left: 64%;top:124px;}
    85%{margin-left: 84%;top:522px;}
	100% {margin-left: 100%;top:532px;}
}

/* Animation */
@keyframes myfirst
{
	0% {margin-left: -235px,top:115px;}
	15%{margin-left: 15%;top:425px;}
  	32%{margin-left: 25%;top:215px;}
  	49%{margin-left: 45%;top:507px;}
  	69%{margin-left: 64%;top:124px;}
    85%{margin-left: 84%;top:522px;}
	100% {margin-left: 100%;top:532px;}
}

.fish{
	background-image: url(../image/fish.png);
	width: 235px;
	height: 104px;
	margin-left: -235px;
	position: absolute;	
	animation: myfirst 24s;
	-webkit-animation: myfirst 24s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

#fish{
	top: 120px;
}

#fish2{
	top: 285px;
	animation-delay: 10s;
	-webkit-animation-delay: 10s;
}
#fish3{
	top: 450px;
	animation-delay: 19s;
	-webkit-animation-delay: 19s;
}
#fish4{
	top: 620px;
	animation-delay: 30s;
	-webkit-animation-delay: 30s;
}



.dk input[type="submit"]{
	width: 500px;	
	background-color: rgba(0, 102, 255, 0.53);
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	font-family: 'Sniglet', cursive;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
	margin-bottom:37px;
	padding-bottom:40px;
}

.tongdn{
	margin-bottom: -13px !important;
	margin-top: -8px !important;
    background: skyblue;
	margin:auto;
	z-index:999;
	overflow: hidden;
	position: relative;
}

.dk #form_dk{
	height: 100%;	
	background-color: #98d4f3;
	overflow: hidden;
	position: relative;
	
}
.dk .box_big{
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: white;
	position: relative;
}
.box_dn{
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: white;
	position: relative;
	
	
}
.dk label, input{
	display: block;	
}
.dk input{
	width: 500px;
	height:40px;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #98d4f3;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}
.sub_dn > input[type="submit"]{
	width: 500px;	
	background:linear-gradient(rgba(0, 102, 255, 0.53),#95afe8);
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	font-family: 'Sniglet', cursive;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
    margin-top: 64px !important;
	margin-bottom: 91px !important;
	border-radius:100px;
	
}
.tongdn input[type="submit"]:hover{
	background-color:#F60;

	
}
.sub_dn > input[type="submit"]:hover{
	background-color:#F63;
}
input[type="text"]{
	width: 500px;
	height:45px;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #98d4f3;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}
input[type="password"]{
	width: 500px;
	height:45px;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #98d4f3;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}
.dk input:focus{
	border: solid 3px #77bde0;	
}
.tongdn input:focus{
	border: solid 3px #77bde0;	
}

.dk input[type="submit"]:hover{
	background-color: #e58f0e;
		
}
.dk label{
	font-size: 1.5em;
	margin-top: 20px;
	font-family: 'Sniglet', cursive;
	
	padding-left: 20px;
}
.formgroup1 >label{
	font-size: 1.5em;
	margin-top: 15px;
	padding-left: 20px;
	color:#0a8cbf;
	font-family: 'Sniglet', cursive;
	
}
.formgroup1 {
	padding-top:4px;
}
formgroup1 > input[type="submit"]:hover{
	background-color: #e58f0e;	
}


<!--table -->

