@charset "utf-8";
/* CSS Document */
body {
    font-family: Tahoma, Geneva, sans-serif;
	color:blue;
}
.item content img{
	width:100%;
	height:100%;
}
.clear{
	clear:both;
}
*{
	margin:0px;
	padding:0px;
}
a{
	text-decoration:none !important;
	color:white;
	
}
.boss1{
	border:1px solid black;
	width:100%;
	height:auto;	
	margin-bottom:8px;
}
.boss2{
	
	width:86%;
	height:auto;
	margin:auto;	
}
.header{
	height:auto;
	width:100%;
}
.menu{
	  
    /*background: linear-gradient(#333,rgb(104, 119, 126));*/
	  
	line-height:55px;
	overflow:hidden;
	height:55px;	
   /*background:linear-gradient(#333,#000);
    background: linear-gradient(#4ac2e6,#0e8bc7);*/
	
}
.menu > ul li:hover{
	background:white;
	font-family: 'Sniglet', cursive;
	font-size: 1.2em;
	
}
.menu > ul li:hover a{
	color:black;
}
.menu1{
	float:left;
	margin-left:75px;
	
}
.menu1 >input[type=text]{
	border:#ccc;
	height:35px;
	width:200px;
	border-radius:8px;
	margin-top:10px;
	
}
.menu1 > input[type=submit]{
	background:white;
	color: black;
	font-size: 1em;
	font-family: 'Sniglet', cursive;
	cursor: pointer;
	height:37px;
	width:89px;
	border-radius:8px;
	margin-top:11px;
}
.menu1 > input[type=submit]:hover{
	background:#666;
	color: white;
}
input[type=password]{
	height:25px;
	width:200px;
	border-radius:8px;
	margin-top:11px;
}

.menu > ul > li{
	float:left;	
	list-style-type:none;
	width:150px;
	text-align:center;
	
	
}
.menu > ul > li  a{
	text-decoration:none;
	color:white;
	text-transform:uppercase;
	display:block;
		
}
.content{
	margin-top:15px;
	height:auto;
	overflow:hidden;
}

.left{
	width:20%;
	float:left;
	height:auto;
	margin-right:10px;
	margin-bottom:8px;
}

.right{
	
	float:left;
	width:79%;
	height:auto;
	margin-bottom:8px;
}
.right2{
	
	float:left;
	width:79%;
	height:auto;
	margin-bottom:8px;
}

.list .title {
	 background: linear-gradient(#333,rgb(104, 119, 126));
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding: 16px 10px;
    text-transform: uppercase;
	text-align:center;
	margin-top:0px;
}


.list .content-list{
    margin-bottom: 30px;
	margin-top: -10px;
	
}
.list .content-list ul.nav-list {
    list-style-type:none;
    width: 100%;
    z-index: 999;
}
.list .content-list ul.nav-list li {
    background: #fff;
    border: 1px solid #ddd;
    border-top: none;
    position: relative;
}
.list .content-list ul.nav-list li a {
    display: block;
    font-weight: 600;
    padding: 13px 15px;
    position: relative;
	color:#666;
}
.list .content-list ul.nav-list li a:hover{
	font-size:17px;
	color:#000;
}
ul#sliderId {
	list-style-type:none;
	width:auto;
	height:325px;
	margin:0;
	padding:0;
	overflow:hidden;
	position:relative;
}

ul#sliderId > li > div {
	text-align:center;
}

ul#sliderId > li img {
	width:100%;
	height:343px;
}

ul#sliderId > li p {
	background-color:#00C;
	color:#fff;
	padding:10px;
	position:absolute;
	margin:0;
	bottom:0;
	left:0;
	right:0;
	opacity:0.6;
}
.footer{
	height:auto;
	background:#000;
	overflow:hidden;
	padding:12px 20px;

}
.footer span{
	color:#CCC;
	text-transform:uppercase;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
}

footer >.right1 {
	width:20%;
	float:right;
}

div.footer > div {
	float:left;
	margin-left:13%;
}

div.footer ul {
	list-style-position:inside;
}

div.left1 {
	width:20%;
	height:100px;
}


div.middle {
	width:20%;
}

.footer ul  li{
	list-style-image:url(../image/bullet2.png);	
	padding:2px 0px;
}
.footer li{
	color:#666;
}
.footer li a{
	color:#666;
}

/*phan content*/
.box .box-list {
    margin-bottom: 10px;
	
}
.box .box-list {
    background: #CCC;
    border-bottom: 4px solid #f6c60e;
    padding: 15px 10px;
    text-align: right;	
}
.box .box-list1 {
    background:#369;
    padding: 15px 10px;
    text-align: right;	
}
.box .box-list h3.title-box {
    font-size: 16px;
    text-transform: uppercase;
	color:#666;
	position:absolute;
	margin-top:2px !important;

}
.box .box-list a {
	color:#666;
    background: #ccc;
 	border-radius:50px;
    font-weight: 600;
    padding:5px 7px;
    position: relative;
	text-align:center;
}
.box .box-list a:hover{
	background: #999;
}
<!--Phan khung -->
div.items {
	margin-top:5px;
	padding:5px;
	overflow:auto;
	text-align:center;
}

div.item {
	width:24%;
	height:280px;
	border:1px solid #CCC;
	position:relative;
	display:inline-block;
	margin-right:9.5px;
	margin-bottom:10px;
	text-align:center;
	background:white;
	float:left;
}

div.item > div.subject {
	font-size:14px;
	text-align:center;
	background:white;
	padding:10px 0;
}

div.item > div.content > img {
	width:128px;
}

div.item > div.content {
	padding:10px;
}

div.item .btn {
	margin-bottom: 0px;
    position: absolute;
    bottom: -0.9px;
    left: 17.78%;
    margin-left: -50px;
}
.item .subject li{
	
	list-style-type:none;
}
.item .subject li a{
	text-decoration:none;
}
.button{
	display:none;
	margin-bottom:0;
}
.btn {
	background-color: hsla(0, 0%, 40%, 0.86);
    border: 1px solid #999;
	padding:10px 0px;
	min-width:280px;
	font-size:14px;
	cursor:pointer;
	color:#fff;
	
}

div.item:hover .button {
	background-color:#C90;
	display:block;
}
body .boss2 {
	color:black;
}
body .boss2 a{
	color:black;
}
<!--phan phai 2 -->
div.items1 {
	margin-top:5px;
	padding:5px;
	overflow:auto;
	text-align:center;
}

div.item1 {
	width:23.7%;
	height:280px;
	border:1px solid #CCC;
	position:relative;
	display:inline-block;
	margin-right:4.5px;
	margin-bottom:10px;
	margin-left:5px;
	text-align:center;
	background:white;
	float:left;
}

div.item1 > div.subject1 {
	font-size:14px;
	text-align:center;
	background:white;
	padding:10px 0;
}

div.item1 > div.content1 > img {
	width:128px;
}

div.item1 > div.content1 {
	padding:10px;
}

div.item1 .btn1 {
	margin-bottom: 0px;
    position: absolute;
    bottom: 0.1px;
    left: 17.78%;
    margin-left: -39px;
}
.item1 .subject1 li{
	
	list-style-type:none;
}
.item1 .subject1 li a{
	text-decoration:none;
}
.button1{
	display:none;
}
.btn1 {
	background-color:#666;
	border: 1px solid #3b403b;
	padding:10px 0px;
	min-width:217px;
	font-size:14px;
	cursor:pointer;
	color:#fff;
	text-align:center;
	
}

div.item1:hover .button1 {
	background-color:#C90;
	display:block;
}



<!-- phan content loaisp-->

.box1 .box-list1 {
    
	
}
.box1 .box-list1 {
    background: linear-gradient(rgba(29, 35, 43, 0.53),#676767);
    margin-bottom: 2px;
    padding-bottom: 29px;
	padding-top:2px;
	border-radius:146px;
}

.box1 .box-list1 h3.title-box1 {
	margin-top: 6px;
    font-size: 16px;
	color:white;
	position:absolute;
	text-align:center;
	margin-left:410px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.box1 .box-list1 a {
	color:white;   
 	border-radius:50px;
    font-weight: 600;
    padding:5px 7px;
    position: relative;
	
}
.box1 .box-list1 a:hover{
	background: #999;
}


<!--chuyen trang -->


.pagination {
    background: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}
 
.page {
    display: inline-block;
    padding: 7px 14px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}
 
.page:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}
 
 table{
	border-spacing: 0;
	 border-radius: 10px;
	border-collapse:separate;
	border-color:#CCC;
	margin-left:0px;
	margin-bottom:10px;
	 transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    border: solid 1px #CCC;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 
.CTSP{
	font-weight: normal;
	font-size: 3em;<img src="../admin/modules/quanlysp/hinhanh/bullet2.png" width="5" height="10"><img      			src="../admin/modules/quanlysp/hinhanh/bullet2.png" width="5" height="10">
	color: #0a8cbf;
	text-align: center;
	font-family:"Comic Sans MS", cursive;
}

h4{
	font-family:"Comic Sans MS", cursive !important;
	font-weight: normal !important;
	font-size:1.5em !important;
	margin: 0 auto !important;
	color: #111 !important;
	text-align: center !important;
}


table th{
    text-align: center;
    font-size: 1.083em;
    color: #FFF;
    text-shadow: 0px -1px 1px rgba(0, 81, 168, 0.38);
    font-weight: 900;
	
}
textarea {
    width: 635px !important;
	height:197px !important;
    border: none;
	margin-bottom:-6px !important;
    border-radius: 10px;
    outline: none;
    font-family: 'Sniglet', cursive;
    font-size: 1.4em;
    color: #676767;
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    border: solid 1px #CCC;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	
}

table th{
	height:28px;
	background: #58a7e6;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.238em;
	 font-family: "museo-sans",sans-serif;
    color: #FFF;
    text-shadow: 0px -1px 1px rgba(0, 81, 168, 0.38);
    border-color: #2c90df;
    font-weight: 900;
}

.info-table {
    border-spacing: 0;
    border-collapse: separate;

    color: #314351;
    font-size: 0.857em;
   
    font-family: "museo-sans",sans-serif;
}
 

.tieude{
	font-weight: normal;
	font-size: 3em;
	margin: 0 auto;
	margin-top: 13px;
	width: 400px;
	color: #0a8cbf;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}	
.customer{
	margin-top: -96px !important;
    margin-right: -55px !important;
    float: right;
}
.thanhtoan{
	width:140px;
	height:30px;	
	background: linear-gradient(rgba(0, 102, 255, 0.53),#95afe8);
    color: white;
    cursor: pointer;
    margin-top: 30px;
    font-size: 1.29em;
    font-family: 'Sniglet', cursive;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
    margin-top: 64px !important;
    margin-bottom: 91px !important;
    border-radius: 100px
}



